body{
    background-image: url(fundo4.jpg);
}
h1{
    color: rgb(13, 121, 97);
    text-align: center;
    font-size: 40px;
}
p{
    color: rgb(33, 131, 74);
    font-size: 20px;
}
img{
    height: 220px;
     width: 220px;
     border-radius: 100px;
}
a{
    color: rgb(28, 107, 83);
    font-size: 20px;
}
.tudo{
    text-align: center;
}
.botao{
    text-align: center;
    font-family: 'Fredoka One', cursive;
   
}

.botao_style{
    background-color: #be94d1d7;
    color: rgb(49, 45, 45);
    border: 2px solid #be94d1d7;
    border-radius: 30px;
    transition-duration: 0.4s;
    width: 140px;
    height: 40px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 17px;
}

.botao_style:hover{
    background-color: white;
    color:rgba(2, 1, 2, 0.671);
    border: 2px solid #be94d1d7;
}